.especiales {
    width: 100%;
    background-color: #ED1E79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__contenedor {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 1rem;
    }
}


