.especiales {
    width: 100vw;
    max-width: 100%;
    background-color: #ED1E79;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__titular{
        padding: 6rem 0 6rem 0;
        color: white;
    }
    &__seccion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 100%;
        padding-left: 6rem;
        padding-right: 6rem;
        &--contenedor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &--cartas {
            width: 20vw;
            height: 50vh;
            margin-bottom: 2rem;
        }
        &--imagen {
            width: 100%;
            height: 100%;
            box-shadow: -20px 10px 20px 15px rgba(0, 0, 0, 0.705);
            border-radius: 1rem;
        }
        &--texto {
            width: 20vw;
            height: 20vh;
            color: #00FFFF;
            font-size: 2.5rem;
            font-weight: 800;
        }
    }
}

.especialesImg1 {
    grid-area: 1 / 1 / 2 / 2;
}

.especialesImg2 {
    grid-area: 1 / 2 / 2 / 3;
}

.especialesImg3 {
    grid-area: 1 / 3 / 2 / 4;
}