.maincontainer {
    &__imagenes {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

        &--texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            width: 100vw;
            max-width: 100%;
        }

        &--button {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        &--titular2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            padding-top: 4rem;
        }
        &--seccion{ 
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;
            height: 100%;
        }
    }

    &__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(10, 0, 95);
        margin-top: 2rem;
        

        &--marca {
            width: 8rem;
            height: 8rem;
            margin-left: .5rem;
            margin-right: .5rem;
        }

        &--titular {
            display: flex;
            align-items: center;
            user-select: none;
            justify-content: center;
            text-align: center;
            margin-bottom: 10vh;
            margin-top: 10vh;

        }

        &--titular1 {
            font-size: 5rem;
            color: #00FFFF;
            font-weight: 600;
        }

        &--titular2 {
            font-size: 5rem;
            color: #ED1E79;
            font-weight: 600;
        }

        &--parrafo {
            display: flex;
            margin-left: 8rem;
            margin-right: 4rem;
            color: white;
            text-align: center;
            font-size: 3rem;

        }

    }

    .maincontainer__section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 85vh;
    }

    .cardbody {
        border-radius: 1.5rem;
        height: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .Typewriter {
        display: flex;
        flex-direction: right;
        max-width: fit-content;
        font-size: 3rem;
        min-width: 15rem;
    }
    .maincontainer__texto2{
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
    }
    .Typewriter::before {
        content: ' ';

    }

    .bounce-1 {

        animation-name: bounce-1;
        animation-timing-function: cubic;
        animation-duration: 2s;
        animation-iteration-count: infinite;

    }

    @keyframes bounce-1 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-25px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .bounce-2 {
        animation-name: bounce-2;
        animation-timing-function: cubic;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    @keyframes bounce-2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-25px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .bounce-3 {
        animation-name: bounce-3;
        animation-timing-function: cubic;
        animation-duration: 2.8s;
        animation-iteration-count: infinite;
    }

    @keyframes bounce-3 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-25px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .cardcolor {
        font-weight: 500;
        background-color: rgba(248, 248, 248, 0.336);
    }

    .removebg {
        background-color: rgba(255, 255, 255, 0);

    }

    .removeborder {
        border: none;
    }

    .card:hover {
        z-index: 2;
        animation-name: none;
        background-color: rgba(248, 248, 248, 0.76);
    }

    .textcenter {
        text-align: center;
    }

    .wave {
        opacity: 80%;
        position: absolute;
        width: 100%;
        height: 80%;
        background-image: url("./Utilities/wave.svg");
        background-repeat: no-repeat;
        top: 85%;
        z-index: 1;
        left: 0;
    }
}