.maincontainer {
    padding-top: 60px;
    &__imagenes {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        &--texto {
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            width: 100vw;
            max-width: 100%;
        }
        &--titular2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            padding-top: 4rem;
        }
        &--seccion{ 
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;
            height: 100%;
        }
    }
    &__section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    &__texto {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(10, 0, 95);
        margin-top: 2rem;
        &--marca {
            width: 8rem;
            height: 8rem;
            margin-left: .5rem;
            margin-right: .5rem;
        }
        &--titular {
            display: flex;
            align-items: center;
            user-select: none;
            justify-content: center;
            text-align: center;
            margin-bottom: 10vh;
            margin-top: 10vh;
        }
        &--titular1 {
            font-size: 5rem;
            color: #00FFFF;
            font-weight: 600;
        }
        &--titular2 {
            font-size: 5rem;
            color: #ED1E79;
            font-weight: 600;
        }
        &--parrafo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            font-size: 3rem;
            &_oraciones1{
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                width: 100%;
                color: #00FFFF;
            }
            &_oraciones2{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1.7fr;
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px; 
                color: #ED1E79;
            }
        }
    }
}
.Typewriter {
    display: flex;
    flex-direction: right;
    max-width: fit-content;
    font-size: 3rem;
    
}
.Typewriter::before {
    content: ' ';
}
.fix-right{
    justify-self: right;
    color: white;
}
.nami{

}
.nima{

}
